    body {
    background-color: #B57E1D;
    font-family: Courier New, sans-serif;
    }

    header {
    padding: 15px 0;
    height: 30px;
    }

   .row {
   align-items: right;
   display: flex;
   font-size: 15px;
   justify-content: flex-end;
    }

   a  {
   font-size: 17px;
   padding: 0 15px;
   color: beige;
   }

   a:hover {
   text-decoration: none;
   color: beige;
   }

   h1 {
   font-weight: 500;
   margin-top: 30px;
   font-size: 40px;
   color: black;
   text-align: left top;
   }

   .jumbotron-one {
    background-image: url('https://static.pexels.com/photos/108110/pexels-photo-108110-medium.jpeg');
    background-size: cover;
    height:500px;
    }

    .jumbotron-one h1{
    margin-left: 30px;
    }

    .jumbotron-two {
    background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/K85PWFR8XV.jpg');
    background-size: cover;
    height:500px;
    }

    .jumbotron-two h1{
    margin-left: 30px;
    margin-top: 50px;
    }

    .jumbotron-three {
    background-color: beige;
    height:400px;
    }

    .jumbotron-three h1{
    margin-left:30px;
    }

    .box {
    width: 300px;
    height: 400px;
    text-align: left;
    text-color: black;
    margin-top: 60px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    }

    article{
    height: 400px;
    text-align: left;
    color: beige;
    margin-top: 60px;
    font-size: 17px;
    width: 90%;
    padding-left: 12%;
    }

    #blog1{
    font-weight: 800;
    }

    figure {
    margin: 30px;
    }

    .row2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    }

    .btn {
    height: 140px;
    width: 140px;
    background-color: #66a3ff;
    font-size: 90px;
    color: #0a0f0f;
    border-radius: 100%
    }

    figure {
    text-align: center;
    }

    .jumbotron-four h1{
    margin-left: 40px;
    }

    .jumbotron-four h3{
    text-align: center;
    }

    #kontakt{
    margin-top: 50px;
    margin-left: 100px;

    }

    #tel{
    margin-top: 30px;
    font-size: 15px;
    }

    #projekti{
    margin-top: 60px;
    }

    footer{
    margin-top: 20%;
    background-color: #fff2cc;
    text-align: center;
    height: 37px;
    padding-top: 8px;
    border-top: dashed #3AA8C1 ;
    }

    #ozadje{
    background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/280h/GT6QH4KWT5.jpg');
    background-size: cover;

    }