<!DOCTYPE html>
<html>
 <head lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
 </head>
 <body>
   <header class="container">
    <div class="row">

      <nav class="col-sm-7">
	    <a  href="/">Domov</a>
        <a  href="/o-meni">O meni</a>
        <a  href="/moji-projekti">Moji projekti</a>
        <a  href="/blog">Blog</a>
        <a  href="/kontakt">Kontakt</a>
	  </nav>
	</div>
   </header>
   <br>
   <br>

   {% block vsebina %}{% endblock vsebina %}
 </body>
</html>