{% extends "base.html" %}

{% block title %}Kontakt{% endblock title %}

{% block vsebina %}

   <section class="jumbotron-five">
     <div class="container" id="kontakt">
       <h1>Kontakt</h1>
       <div id="tel">
           <p>Kalejdoskop</p>
           <p>Zvezdna cesta 100</p>
           <p>5555 Vesolje</p>
           <p>Tel.:505050505</p>
           <p>kalejdoskop@zvezde.db</p>

       </div>


	 </div>

   </section>

   <footer>
       <p>Kalejdoskop &#169; SašaG</p>
   </footer>

{% endblock vsebina %}

