{% extends "base.html" %}

{% block title %}Moji projekti{% endblock title %}

{% block vsebina %}

   <section class="jumbotron-three">
    <div class="container">
       <h1 id="projekti">Moji projekti</h1>
             <div class="row2">
                <figure class="col-sm-6">
		          <a href="http://myfakebook-violet.appspot.com/" class="btn">F</a>
                </figure>
                <figure class="col-sm-6">
		         <a href="http://cas-je-zdaj.appspot.com/" class="btn">č</a>
                </figure>
                <figure class="col-sm-6">
                 <a href="http://" class="btn">K</a>
                    <p>tehnične težave :)</p>
                </figure>
                <figure class="col-sm-6">
		         <a href="" class="btn">p</a>
                    <p>tehnične težave :)</p>
                </figure>
             </div>


	</div>

   </section>

   <footer>
       <p>Kalejdoskop &#169; SašaG</p>
   </footer>


{% endblock vsebina %}