{% extends "base.html" %}

{% block title %}O meni{% endblock title %}

{% block vsebina %}

   <section class="jumbotron-two">
   <div class="container">
       <h1>O meni</h1>
       <div class="box">
           <p>Gibberish, jibberish, jibber-jabber and gobbledygook refer to speech or other use of language that is nonsense, or that appears to be nonsense. It may include speech sounds that are not actual words,[1] or forms such as language games or highly specialized jargon that seems non-sensical to outsiders.</p>
       </div>
    </div>
   </section>
   <article>

       <p>The word gibberish is more commonly applied to informal speech, while gobbledygook (sometimes gobbledegook, gobbledigook or gobbledegoo) is more often applied to writing or language that is meaningless or is made unintelligible by excessive use of abstruse technical terms.[citation needed] "Officialese", "legalese", or "bureaucratese" are forms of gobbledygook. The related word jibber-jabber refers to rapid talk that is difficult to understand
       The term gibberish was first seen in English in the early 16th century.[4] Its etymology is not certain, but it is generally thought to be onomatopoeia imitative of speech, similar to the related words jabber (to talk rapidly) and gibber (to speak inarticulately).[5][6]
       </p>

   </article>

   <footer>
       <p>Kalejdoskop &#169; SašaG</p>
   </footer>

{% endblock vsebina %}